extends ./layout/index 

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="",class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote ipsum dolor sit amet consectetur, adipisicing elit. Facilis tempora id debitis, iusto sequi sapiente enim asperiores quae odit, laborum ex labore dolorum, quasi tempore eveniet illo dolor maxime magnam commodi sit distinctio officiis eius repellat! Ipsam, sed nisi temporibus rerum ipsa eligendi veniam in placeat doloremque minus cum odio eos dicta velit aut nesciunt odit ex iure. Recusandae aut dolore dolorum sunt sequi nulla maiores adipisci fuga aspernatur id excepturi possimus architecto, perspiciatis esse pariatur nisi provident hic suscipit. Libero modi dolorem, eligendi eaque ratione numquam? Culpa atque harum, et aliquid saepe itaque ab libero. Cum fuga a necessitatibus?  
                
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit unde doloribus commodi, saepe, sunt sit rerum voluptatum incidunt optio assumenda, velit repellendus eos dolorem earum veritatis vero veniam? Eaque, accusamus.

                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas quidem ipsam voluptatum provident commodi excepturi aut fugit consectetur minima cum quis eligendi, ducimus repellat, dicta laboriosam quaerat odio illo quasi!

    .listado-iconos
        .container.mt-5.py5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb4 Seguridad
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum quia aliquid eum, quae exercitationem commodi et eos nam voluptas, veritatis fugit similique, at ad? Reprehenderit quaerat delectus veritatis dolore placeat?

                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb4 Destino
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum quia aliquid eum, quae exercitationem commodi et eos nam voluptas, veritatis fugit similique, at ad? Reprehenderit quaerat delectus veritatis dolore placeat?

                .col-md-4
                    img(src="img/icono_precio.svg", class="img-fluid mb-4")
                    h2.mb4 Precio
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum quia aliquid eum, quae exercitationem commodi et eos nam voluptas, veritatis fugit similique, at ad? Reprehenderit quaerat delectus veritatis dolore placeat?
    