extends ./layout/index
block contenido 
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-5
                h1 #{pagina}
                blockquote   Curabitur venenatis tellus sit amet magna rutrum posuere. Nullam scelerisque nulla nec auctor pellentesque. Nam porta non elit in viverra. 
                p Lorem ipsu pulvinar, scelerisque ligula ultrices, tincidunt justo. Vivamus blandit metus ut dolor mollis, et interdum libero egestas. Curabitur venenatis tellus sit amet magna rutrum posuere. Nullam scelerisque nulla nec auctor pellentesque. Nam porta non elit in viverra. 
                p Lorem ipsu pulvinar, scelerisque ligula ultrices, tincidunt justo. Vivamus blandit metus ut dolor mollis, et interdum libero egestas. Curabitur venenatis tellus sit amet magna rutrum posuere. Nullam scelerisque nulla nec auctor pellentesque. Nam porta non elit in viverra. 
    .listado-iconos
        .container.mt-5.py.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Curabitur venenatis tellus sit amet magna rutrum posuere. Nullam scelerisque nulla nec auctor pellentesque. Nam porta
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destino", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Curabitur venenatis tellus sit amet magna rutrum posuere. Nullam scelerisque nulla nec auctor pellentesque. Nam porta 
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precio", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Curabitur venenatis tellus sit amet magna rutrum posuere. Nullam scelerisque nulla nec auctor pellentesque. Nam porta  